.error{
    margin-left: 500px;
    margin-top: 160px;

    h1{
        font-size: 80px;
        font-weight: 600;
        margin-left: -100px;
    }

    button{
    background-color: red;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    margin-left: 80px;
    margin-top: 20px;
    } 
}

