.block4{
    width: 300px;
    height: 300px;
    margin-left: 530px;
    margin-top: 150px;
    border: 2px solid #c3c2c2;
    border-radius: 10px;
    background: rgba(0, 0, 0,.2);
    backdrop-filter: blur(4px);
}

.input h3{
    color: #fff;
    font-weight: 600;
}

.input input{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #c3c2c2;
}

.box1{
    margin-left: 40px;
    margin-top: 40px;
}

.input button{
    margin-left: 45px;
    margin-top: 40px;
    width: 80px;
    height: 20px;
    font-size: 15px;
    font-weight: 600;
}