.sing-main {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.sing-1 {

    img{
        width: 600px;
        height: 550px;
    }
}

.sing-2 {
    width: 372px;
    height: 530px;
    margin-top: 90px;

    img{
        width: 785px;
        height: 700px;
    }
}


.inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}