.open h2{
    color: #fff;
}

.open{
    width: 240px;
    height: 250px;
    margin-left: 550px;
    margin-top: 80px;
    border: 2px solid #c3c2c2;
    border-radius: 10px;
    background: rgba(0, 0, 0,.2);
    backdrop-filter: blur(4px);
}

.open button{
    font-weight: 600;
    background-color: red;
    width: 165px;
    height: 20px;
    color: #ccc;
    border-radius: 4px;
    margin-left: 40px;
    margin-top: 5px;
}


.box1 input{
    margin-left: -20px;
}

.box1 label{
    margin-left: -20px;
}